<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CSS Scroll-Driven Animation</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <main>
      <section class="section section-1">
        <div class="container">
          <p>section 1</p>
        </div>
      </section>

      <section class="section section-2">
        <div class="container">
          <p>section 2</p>
          <img src="https://picsum.photos/200/300" alt="image" />
        </div>
      </section>

      <section class="section section-3">
        <div class="container">
          <p>section 3</p>
        </div>
      </section>

      <section class="section section-4">
        <div class="container">
          <p>section 4</p>
          <img src="https://picsum.photos/400/200" alt="image" />
        </div>
      </section>

      <section class="section section-5">
        <div class="container">
          <p>section 5</p>
        </div>
      </section>
    </main>
  </body>
</html>
